body{
    font-family: Georgia, serif;
    background-color: #a7d1f1
}
img{
    width:200px;
    border: 2pt solid #3d4998;
    border-radius: 50%;
}
input[type=radio]{
    accent-color: #27d8d8;

}
input[type=button]{
    width:20%;
    border: 2pt solid #002480;
    padding: 1%;
    background-color: rgb(200 232 221 / 0.82);
    border-radius: 10px;
    font-family: Georgia, serif;
}
div#vastus{
    width:20%;
    border: 2pt solid #001a80;
    padding: 1%;
    background-color: #c8e8db;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    top: 300px;
}
label{
    font-weight: bold;
    padding: 2px;
    margin-right: 10px;
}
label:hover{
    background-color: #8cbfff;
    border: 2pt solid #188cea;
    border-radius: 10px;
}
h1{
    color: #1c0080;
}
h2{
    color: #188CEAFF;
}