body {
    background-color: #7c93e5;
    font-family: Arial;
}

h1 {
    text-align: center;
}

table {
    width: 800px;
    margin: auto;
    background-color: #aff6f0;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
}

input[type="text"] {
    width: 200px;
}

textarea {
    width: 200px;
    height: 70px;
}

select {
    width: 210px;
    padding: 5px;
}

input[type="range"] {
    width: 200px;
}

input[type="button"],
input[type="reset"] {
    padding: 5px 10px;
    margin: 5px;
}

img {
    max-width: 200px;
    max-height: 240px;
}

.nupud {
    text-align: center;
}
input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: lightblue;
}