div#selgitus{
    background-color: lightblue;
    width: 30%;
    position: fixed;
    top: 150px;
    left: 350px;
    padding: 1%;

}
#selgitus img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 15px 0;
    border: 3px solid #1b6015;
    border-radius: 0;
}
